/* // StAuth10222: I Zeel Patel, 000824838 certify that this material is my original work. 
//No other person's work has been used without due acknowledgement. 
//I have not made my work available to anyone else. */
*{
    padding: 5px;
    margin: 5px;
}

.heading{
    text-align: center;
}

body{
    border: 1px solid black;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%)
}

.tlist-move,
.tlist-enter-active,
.tlist-leave-active{
    transition: all 0.5s ease;
}

.tlist-leave-active{
    position: absolute;
}
.tlist-enter-from,
.tlist-leave-to{
    opacity: 0;
    transform: translateX(-50px);
}

.createb{
    display: flex;
    justify-content: center;
}

.centreButton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ButtonCon{
    position: relative;
}

.list{
   
    border: 0.05em solid red;
   
}

.sortCon{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.sorting{
    border: 1px solid black;
}

.filters{
    border: 1px solid black;
}

h4, h5{
    text-align: center;
}

.sortgrads{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label{
    font-size: larger;
    font-weight: 360;
}

.buttonsfil{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

ul{
    list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 250px;
}

li{
    height: 20%;
}

button{
    background-color: #008CBA;
    color: white;
} 
